#closing {font-family: "Noto Serif SC", serif;}


h1 {
	text-align: center;
	padding-top: 3vw;
	padding-bottom: 3vw;
	font-family: 'Noto Serif SC', serif;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-size: 5vw;
}

h2, h3 {
	text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
	font-weight: 100;
	font-stretch: ultra-expanded;
}

p {
	padding-left: 7vw;
	padding-right: 7vw;
	padding-top: 0vw;
	padding-bottom: 0.5vw;
	font-family: 'Noto Sans SC', sans-serif;
	font-stretch: normal;
}

video {
	display: block;
	margin: auto;
	width: 80%;
}

body {
  background-color: auto;
}

/* unvisited link */
a:link {
  color: #1e5567;
}

/* visited link */
a:visited {
  color: #494d43;
}

/* mouse over link */
a:hover {
  color: #8980ac;
}

/* selected link */
a:active {
  color: #bdb7d8;
}
